#
# Copyright 2015, NICTA
#
# This software may be distributed and modified according to the terms of
# the BSD 2-Clause license. Note that NO WARRANTY is provided.
# See "LICENSE_BSD2.txt" for details.
#
# @TAG(NICTA_BSD)
#

config APP_HELLO_CAMKES_2
    bool "CAmkES Hello World application with events and dataports"
    default n
    help
        Hello World application to demonstrate CAmkES events and dataports.
